<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1>Error in calculation</h1>
  <p>Weights over 3.5oz for stamped and metered envelopes are not accepted</p>
  <p>Weights over 13oz for flats and parcels are not accepted</p>

  <input type="submit" onclick="window.location = '/'" value="Return">
</body>

</html>
