<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1>Calculated Rate:
  </h1>
  <p>Mailing Type:
    <%= type %>
  </p>
  <p>Weight:
    <%= weight + 'oz'%>
  </p>
  <p>Price:
    <%= '$' + rate %>
  </p>

  <input type="submit" onclick="window.location = '/'" value="Return">
</body>

</html>
